* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
 margin: 0;
background-color: #aaa;
}

.header {
  padding: 10px;
  text-align: center;
  background:rgb(0, 0, 0);
  color: white;
}
.navbar {
  overflow: hidden;
  background-color: #333
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar  a:hover {
  background-color: #ddd;
  color: black;
}

    .footer {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%
    }



.main {
  flex: 80%;
  display: flex;
  height: 650px;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  text-align: center;
}
.main :hover{
    background-color: #ddd;
  color: black;
}
.menu-item {
    background-color: #ddd;
    margin: 10px;

}
 p.ex {
  text-transform: capitalize;
  color: grey;
 }

 p.exp {
   padding:0%;
    text-align: center;
    justify-content: center;
 }
img{

  height: 200px;
  width: 200px;
  margin: 10px;
}

.row{
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction:row-reverse;
}

.side{
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}
.img{
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.fakeimg{
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
